tags
*.swp
*.swo
*~
+README~
tags
README~
changauth.sh
/build/.obj/
Makefile
/build/Makefile
/math/unused*
/math/unused/*
callgrind*
*.sh
notes/*
*.o
boards/*
Server/Server
backup/
build/.obj
TODOList.txt
*.html
_*
*_exe

